/* -----------this part is to get font------------ */
@import url('https://fonts.googleapis.com/css?family=Literata&display=swap'); 
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cardo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Spirax&display=swap');
/* ------------------------------------------------------------------------ */

/* ------- configure output display ------

.output, .text_cell_render, .output_area, .cell, .defns {
    
    background-color: silver;
 
}
 */
/* +++++++ font size ++++++++++++ */

h1, h2, h3, h4 {
    font-family: 'Playfair Display SC', serif !important;
}

h5, h10 {
    font-family: 'Cardo', serif !important;
}

h2, h3, h4, h5 {
    font-size: 80%!important;
}

/*  ---- for putting lines ------*/

.horizontal_line {
    border-bottom: 2px solid grey;
}
/* ----------------------------------------------------*/